nav {
  display: flex;
  background: rgb(173, 173, 173);
  height: 100px;
}

.author-wrote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px 700px;
  background: gray;
}

.author1, .author2, .author3, .author4 {
  border: 1px solid white;
}

.latest-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 500px;
  background: gray;
}

.post1, .post2, .post3 {
  border: 1px solid white;
}

.ads-and-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  background: gray;
}

.ad2, .article1, .article2 {
  border: 1px solid white;
}

.ads-and-posts2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 500px;
  background: gray;
}

.ad3, .article3, .article4 {
  border: 1px solid white;
}

.see-all-latest-articles {
  background: #575959;
  height: 250px;
  text-align: center;
  margin: 20px 0px;
}

.main-ad {
  background: red;
  border: 1px solid white;
  height: 1400px;
}

.container {
  margin: 20px 35px;
}

.person-of-the-week {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px;
  background: gray;
}

.topics-of-the-week1, .topics-of-the-week2, .topics-of-the-week3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 400px;
  background: gray;
}

.topic1, .topic2, .topic3, .topic4, .topic5, .topic6 {
  border: 1px solid white;
}

.second-ad {
  display: flex;
  height: 300px;
}

.guide-and-newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 350px 530px;
  gap: 0 1.5em;
  background: gray;
}

.js-guide, .css-guide, .web-guide, .newsletter {
  border: 1px solid white;
}

footer {
  background: #575959;
  height: 350px;
}