nav {
  display: flex;
  background: rgb(173, 173, 173);
  height: 100px;
}

.author-wrote {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 700px 700px;
  background: gray;
}

.author1, .author2, .author3, .author4 {
  border: 1px solid white;
}

.latest-posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 500px;
  background: gray;
}

.post1, .post2, .post3, .ad1 {
  border: 1px solid white;
}

.ads-and-posts {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 500px;
  background: gray;
}

.ad2, .article1, .article2 {
  border: 1px solid white;
}

.ads-and-posts2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 500px;
  background: gray;
}

.ad3, .article3, .article4 {
  border: 1px solid white;
}

.main-ad {
  background: red;
  border: 1px solid white;
  height: 1400px;
}